In [1]:
%matplotlib inline

# Pandas


**Pandas** es la librería por excelencia para el análisis de datos. Su nombre proviene de “panel data” (término econométrico). Inspirada en las funcionalidades de R, pero con el potencial de Python.

**Pandas** incluye todas las funcionalidades para el análisis de datos: carga, filtrado, tratamiento, sintetización, agrupamiento, almacenamiento y visualización. Además se integra con el resto de librerías de calculo númerico como Numpy, Matplotlib, scikit-learn, …  y de despliegue: HPC, Cloud, etc.



En resumen, **es como una hoja de calculo -por ejemplo excel- pero con más potencial!!!**

[Main Features](https://github.com/pandas-dev/pandas#main-features)

## Contenido

- **M2_0 Introducción a la estructura DataFrame: características, carga y acceso.**
- M2_1 Creación y Almacenamiento.
- M2_2 Visualización con pandas.
- M2_3 Otras operaciones con DataFrames: agrupaciones de datos.
- M2_4 Gestionando datos perdidos.

## Introducción a Pandas

La estructura por excelencia es el DataFrame. 

Un **dataframe** es un objeto de dos dimensiones que contiene información. También puede verse como una **hoja de cálculo**, como una tabla de un modelo entidad-relación, o como una colección de una base de datos no relacional.

[Documentación](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

Importación de la libreria
```Python
import pandas as pd
import pandas
from pandas import *
```

Por convención se hace de la siguiente manera, todas las funciones de la libreria se tienen que llamar con el prefijo pd.*:

In [3]:
import pandas as pd

# Primeros pasos con Pandas
Vamos a aprender Pandas a través de una serie de proyectos y ejemplos.

En este primera fase vamos a cargar datos de un fichero CSV, son ficheros donde los atributos/valores de una observación están separados por una coma y las observaciones se separan mediante un salto de línea.

### Ejemplo de un fichero CSV
Nombre,Apellidos,Altura,Sexo,Nacimiento,Cof,Categoria<br/>
Will,Smith,1.43,"M",10/10/1920,0.19,laboral<br/>
Jon,Snow,1.98,"M",10/1/1970,0.98,laboral<br/>
Laia,Ramirez,1.87,"F",09/10/1987,0.76,cap6<br/>
Luzy,Raim,1.67,"F",23/07/1979,0.56,cap6<br/>
Fein,Mang,1.78,"M",12/03/1937,0.27,cap6<br/>
Victor,Colom,1.78,"M",22/09/1957,0.97,cap8<br/>


**Datos:**
http://www.exploredata.net/Downloads/WHO-Data-Set

Empezamos viendo como se carga un dataframe a partir de un fichero en formato CSV.

In [5]:
df = pd.read_csv("data/WHO.csv")

A continuación se muestra la estructura interna del DataFrame. Se puede ver que és muy parecido a una tabla bidimensional, además permite toda la funcionalidad de las hojas de cáclulo, y muchísimas más. Durante el transcurso del curso veremos las más importantes.

In [6]:
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

### Atributos de un DataFrame

Un dataframe dispone de diferentes atributos con los que se puede consultar su información o metainformación. 

Los siguientes ejemplos muestran cómo se pueden consultar sus dimensiones o un listado del nombre de sus columnas.

In [ ]:
df.shape # Ver las dimensiones **

In [ ]:
df.columns #**

Podemos aplicar sobre el listado de columnas todas las operaciones sobre listas que hemos visto en la introducción del curso. 
A continuación tenemos dos ejemplos de indexación

In [ ]:
df.columns[0]

In [ ]:
df.columns[:2]

**¿Cómo consultariais el nombre de la columna 10? ¿y los de las columnas de la 200 a la 225?**

## Funciones descriptivas de un dataframe

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.tail(2)

## Selección de información: por columnas o por filas

**Un dataframe no es una lista**, no podemos acceder via [].

La siguiente sentencia dará un error de ejecución:

In [ ]:
df[0]

Si inspeccionamos y comparamos los tipos del dataframe y de las columnas...

In [ ]:
type(df)

In [ ]:
type(df.columns)

**¿Cómo seleccionamos los datos de una columna?**

Podemos utilizar el nombre de una columna para obtener los datos de dicha columna. Al estilo de un diccionario python.

Existen dos maneras:

In [ ]:
df["Country"] #**

In [ ]:
df.Country #**

**¿Qué es una columna?**

In [ ]:
type(df.Country)

Las series són la otra estructura básica de Pandas. Las filas y las columnas se estructuran en Series, se pueden ver cómo un tipo de lista.

**¿Qué podemos hacer con los datos de una columna?**

Con una sola línea de código podemos generar la siguiente información:

In [ ]:
print("Valor medio de %s = %f " %(df.columns[3], df[df.columns[3]].mean()))

In [ ]:
print(df.columns[3]) # nombre columna

In [ ]:
print(df[df.columns[3]]) # Serie de los datos de la columna

###### ¿Cómo consultarias la serie de la columna "Total_reserves"?

#### Sintetización de información
Sobre las series se puede sintetizar información

In [ ]:
fertilidad = df[df.columns[3]]
print("Minimo %f " %fertilidad.min())
print("Max %f " %fertilidad.max())
print("Mean %f " %fertilidad.mean())
print("Descripción de la serie:\n%s " %fertilidad.describe())

## Tabla con las funciones descriptivas
<img src="https://i.imgur.com/OYnOFwL.png">

**Una primera aproximación a la visualización**

Veremos como visualizar series y dataframes en próximas secciones.

In [ ]:
fertilidad.plot()

**La selección puede ser muy eficaz para encontrar elementos que cumplan ciertos criterios.**

Dentro de cada 'selección' se pueden aplicar condiciones. Veamos un ejemplo...

#### ¿Qué pais tiene la mayor emisión de CO2 ?

In [13]:
co2 = df["Total_CO2_emissions"]

In [14]:
row = df[df["Total_CO2_emissions"]==co2.max()]  # Esto es una condición dentro de la selección

Indexación con una lista de valores booleanos:

In [15]:
df["Total_CO2_emissions"]==co2.max()

0      False
1      False
2      False
3      False
4      False
       ...
197    False
198    False
199    False
200    False
201    False
Name: Total_CO2_emissions, Length: 202, dtype: bool

La variable row contiene la fila con el valor máximo en la columna "Total_CO2_emissions".

In [16]:
print(row["Total_CO2_emissions"])

192    5776431.5
Name: Total_CO2_emissions, dtype: float64

In [17]:
print(row["Country"])

192    United States of America
Name: Country, dtype: object

In [ ]:
#Los valores del objeto son una lista
row["Country"]

In [ ]:
row["Country"].values

In [ ]:
print(row["Country"].values[0])

In [18]:
row

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0,1.0,...,5776431.5,1.100000e+13,NaN,-7.140000e+11,8.0,7.1,8.0,240000000.0,1.39,80.8

**Accediendo, mediante filas**

In [ ]:
# No es una lista!!
df[0]

**Iterar sobre los indices de las filas.**

El siguiente atributo devuelve un iterador sobre las filas del DataFrame.

In [ ]:
df.index

In [ ]:
for i in pd.RangeIndex(0,20,step=4):
    print(i)

In [ ]:
for i in np.arange(0,20,4):
    print(i)

**OK, pero ¿cómo podemos acceder mediante un INDEX a una FILA?**

Consultamos una fila concreta cómo se muestra a continuación. En este caso la cuarta.

Atributo **loc** de los dataframes.

In [ ]:
print(df.loc[4])

Las filas són Series, cómo las columnas.

In [ ]:
type(df.loc[4])

#### Utilizando el atributo "loc" del dataframe podemos seleccionar y filtrar las filas utilizando los slicing tipicos de Python.

Slicing:
```{python}
sublista = lista[start:stop:step]
```

Dónde:
* **start** Posición de la lista original dónde empieza la sublista. Si no se indica és 0.
* **stop**  Posición de la lista original hasta donde seleccionar. Se selecciona hasta la posición stop - 1.
* **step**  Incremento entre cada índice de la selección, por defecto 1.

Si entendemos el concepto para un array...

In [ ]:
array =[1,2,3,4,5,6,7,9,0]
print(array[0:2]) #**
print(array[3:]) #**
print(array[:3]) #**

... podemos hacer las mismas operaciones con las filas de un DataFrame.

In [19]:
df.loc[4:10:2]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.1,242.5,164.1,8578749.0,4.14,53.3
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0,1.0,...,152711.86,3.140000e+11,21.11,1.190000e+10,18.1,16.7,18.1,34900000.0,1.17,90.1
8,Australia,9,6,16.0,NaN,33940.0,97.0,96.0,20530.0,1.1,...,368858.53,4.680000e+11,NaN,-1.280000e+10,5.9,5.1,5.9,18000000.0,1.54,88.2
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.0,63.7,50.0,4321803.0,1.26,51.5

In [ ]:
df.loc[200:]  #**

## Slicing sobre matrices

Ampliaremos el concepto de slicing sobre vectores y lo aplicaremos a matrices.

In [ ]:
array =[[1,2],[2,3],[4,5],[6,7],[9,0]]
print(type(array)) #**

In [ ]:
nparray = np.array(array) #**
print(type(nparray)) #**
print(nparray.shape) #**

In [ ]:
nparray

Cuándo aplicamos slicing soble una matriz **seleccionamos las filas**:

In [ ]:
print(nparray[:2])

Para seleccionar un elemento debemos indicar la posición en la segunda dimensión (columna) separada por una coma (",").

En el siguiente ejemplo seleccionamos el elemento de la primera fila en la segunda columna:

In [ ]:
print(nparray[0,1])

El slicing aún és más potente de lo que parece. ¡Podemos utilizarlo en todas las dimensiones!

Para seleccionar todos los elementos de la segunda columna podemos hacer cómo sigue:

In [ ]:
print(nparray[:,1])

In [ ]:
# Aplicamos slicing a las filas i seleccionamos la primera columna
print(nparray[0:3,1])

### ¿Podemos aplicar todo esto en Pandas?

Si seguimos con la misma lógica, usando el atributo "loc" de los DataFrames.

In [ ]:
df.loc[0:1]

Las columnas se deben seleccionar con una **lista** que debe contenter el nombre de las columnas deseeadas.

In [ ]:
df.loc[0:1,["Continent"]]

In [ ]:
df.loc[0:3,["Continent","Total_CO2_emissions"]]

Alternativamente, con el atributo *iloc* podemos seleccionar las columnas con su índice numérico: su posicion en la lista de columnas.

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0:4, 3:7] # ídem a una matriz

In [ ]:
df.iloc[0][0] #**

In [ ]:
df.iloc[0][0:4]

In [20]:
df.iloc[0][0:4].values

array(['Afghanistan', 1, 1, 151.0], dtype=object)

In [21]:
df.iloc[0][0:4].values[0] #**

'Afghanistan'

# Ejercicios

**1) ¿Cuál és la media de la población urbana ("Urban_population") de todos los países? ¿Su desviación típica (std)?**

**2) Consulta la fila del país: “Spain”**

**3a) ¿Qué país tiene una mayor población urbana?**

**3b) ¿Qué paises tienen una población urbana menor a 50000 ?**

**4) ¿El continente donde está situado Spain es el mismo que el de UnitedStates?**

Utiliza una condición para obtener un resultado Booleano (*True* o *False*)

**5) ¿Cuáles son los cinco paises más contaminantes ("Total_CO2_emissions")?**

Esta es mi pista para una solución elegante: http://pandas.pydata.org/pandas-docs/version/0.19.2/generated/pandas.DataFrame.sort_values.html

**6) Observando algunas muestras del fichero puedes establecer la relación entre el identificador del continente y su nombre?**

Es decir, sabemos que Spain está en el continente Europeo y el código del continente es el 2. 

Existen los códigos de continentes: 1, 2, 3, 4, 5, 6, 7

**Nota:** Hay dos códigos asociados a Asia.

Haz las consultas pertinentes al dataframe para construir un diccionario con la siguiente estructura:

In [ ]:
codigoContinentes = {1:"Asia",2:"Europa"} #Al menos hay 7!
print(codigoContinentes[2])

In [ ]:
codigoContinentes[3] = ""
codigoContinentes[4] = ""
codigoContinentes[5] = ""
codigoContinentes[6] = ""
codigoContinentes[7] = ""

**7) Una vez identificado el nombre de los continentes, ¿puedes cambiar la columna de identificadores de continentes por sus respectivos nombres?**

Esta es es mi pista para una solución elegante: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html

**8) Puedes crear un nuevo dataframe con aquellos paises que sean de Europa?**

In [ ]:
df2 = df #Con una simple asignación ya creas una dataframe 
type(df2)

**9) ¿Cuáles son los paises más contaminantes de Europa?**

Propuesta A: usa el dataframe inicial

Propuesta B: usa el dataframe de la actividad 8

### Conclusión
**Que hemos visto en este *notebook*:**

 * Carga de ficheros CSV
 * Selección de filas y columnas de un dataframe
 * Aplicación de criterios en la selección